/* General styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.logo-h1-container {
    display: flex;
    align-items: center;
    margin: 20px 40px;
  }
  
  .logo-h1-container img {
    height: 200px;
    margin-right: 10px;
  }

h1, h2 {
    margin: 20px 40px;
    font-size: 4rem;
}

/* Form styles */
form {
    background-color: #fff;
    padding: 20px;
    margin: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#game-form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

#rounds1, #rounds2 {
    width: 50px;
}

#submit-button {
    margin-top: auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"],
select {
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

/* Recently played games section */
section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #eee;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#delete-last-game {
    margin: 20px 40px;
}

/* Pagination */
#pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Leaderboard styles */
table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #333;
    color: #fff;
}


tr:nth-child(even) {
    background-color: #f2f2f2;
}

.column-width {
    width: 10px; /* Adjust this value as needed */
    text-align: center;
}
